*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(39 39 39);
}


/* Header */

.main-header > div{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    /* background-color: aqua; */
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.header-a1 > a{
    display: flex;
    gap: 10px;
    margin-top: -8px;
    font-family: 'Prosto One', cursive;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.header-b1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    gap: 50px;
    display: flex;
}
.header-b1 > a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 500;
}
.header-c1{
    font-size: 20px;
    display: flex;
    gap: 40px;
}
.header-c1 > i{
    cursor: pointer;
}



/* Main Content */


/* main-section-a1 */

.main-div-section-a1{
    font-family: 'Montserrat', sans-serif;
}
.sub-div-a1{
    display: flex;
    padding: 0px 0px 50px 80px;
}
.sub-div-a1 > a{
    font-size: 24px;
    text-decoration: none;
}


/* main-section-b1 */

.main-div-section-b1{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding-bottom: 100px;
}
.sub-div-b1{
    padding: 0px 40px 0px 80px;
}
.sub-div-div-b1-aa1 > p{
    font-size: 24px;
}
.sub-div-div-b1-aa2 > p{
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 500;
}
.sub-div-div-b1-aa2 > div > p{
    font-size: 18px;
}
.sub-div-div-b1-aa3{
    padding: 41px 0px;
}
.sub-div-div-b1-aa3 > p{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}
.sub-div-div-b1-aa3 > div > p{
    font-size: 18px;
}
.sub-div-div-b1-aa4 > p{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}
.sub-div-div-b1-aa4 > div > p{
    font-size: 18px;
}
.sub-div-div-b1-aa5{
    text-align: center;
    padding: 40px 0px;
}
.sub-div-div-b1-aa5 > a{
    color: rgb(239 224 79);
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}
.sub-div-b2{
    padding: 0px 20px 0px 0px;
}
.sub-div-div-b2-aa1 > p{
    font-size: 24px;
    padding-bottom: 25px;
}
.sub-div-div-b2-aa2{
    border: 2px solid #a1a0a0;
    font-size: 35px;
    padding: 5px 170px;
}
.sub-div-div-b2-aa3{
    border: 2px solid #a1a0a0;
    padding: 25px;
    margin: 30px 0px 40px 0px;
}
.sub-div-div-b2-aa3-1{
    display: flex;
    gap: 15px;
}
.sub-div-div-b2-aa3-1 > p{
    font-size: 17px;
    font-weight: 500;
}
.sub-div-div-b2-aa3-1 > i{
    font-size: 22px;
}
.sub-div-div-b2-aa3-2{
    padding: 40px 25px;
}
.sub-div-div-b2-aa3-2 > p{
    padding: 0px 0px 10px 0px;
    font-size: 17px;
    font-weight: 400;
}
.sub-div-div-b2-aa3-2 > input{
    font-size: 17px;
    word-spacing: 24px;
    height: 25px;
    width: 270px;
    border: none;
    border-bottom: 1px solid #a39a9a;
}
.sub-div-div-b2-aa3-3{
    display: flex;
    padding: 40px 25px;
}
.sub-div-div-b2-aa3-3 > div > input{
    font-size: 17px;
    word-spacing: 24px;
    height: 25px;
    width: 100px;
    border: none;
    border-bottom: 1px solid #a39a9a;
}
.sub-div-div-b2-aa3-3 > div > p{
    padding: 0px 0px 10px 0px;
    font-size: 17px;
    font-weight: 400;
}
.sub-div-div-b2-aa4 > a{
    border: 2px solid;
    padding: 15px 112px;
    text-decoration: none;
    font-weight: 500;
}
.sub-div-div-b2-aa4 > a:hover{
    background-color: rgb(39 39 39);
    color: #fff;
    transition: 0.5s;
}
.sub-div-div-b3-aa{
    background-color: #f4f4f4;
    padding: 40px 0px;
}
.sub-div-div-b3-aa2{
    font-size: 18px;
    font-weight: 500;
    padding: 0px 30px;
}
.sub-div-div-b3-aa3{
    font-size: 18px;
    font-weight: 500;
    padding: 0px 30px;
}
.sub-div-div-b3-aa4 > p{
    color: #a1a0a0;
    font-size: 18px;
    padding: 20px 30px;
}
.sub-div-div-b3-aa5{
    margin: 50px 0px;
}
.sub-div-div-b3-aa5 > a{
    background-color: #282828;
    color: white;
    text-align: center;
    border: 2px solid rgb(39 39 39);
    text-decoration: none;
    padding: 20px 221px;
    font-size: 19px;
    cursor: pointer;
    margin: 30px 0px;
}
.sub-div-div-b3-aa5 > a:hover{
    background-color: #fff;
    color: rgb(39 39 39);
    transition: 0.5s;
}
.sub-div-div-b3-aa1 > p{
    font-size: 25px;
}
.sub-div-div-b3-aa2 > div{
    display: flex;
    justify-content: space-between;
}
.sub-div-div-b3-aa3{
    display: flex;
    justify-content: space-between;
}




/* Footer */

.main-div-footer{
    background-color: rgb(244 244 244);
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 10px;
    margin-top: -9px;
}
.footer-a1 > h3{
    margin-bottom: 30px;
    font-weight: 500;
    cursor: pointer;
}
.footer-a1 > p{
    margin-bottom: 11px;
    cursor: pointer;
}
.footer-b1 > h3{
    margin-bottom: 30px;
    font-weight: 500;
    cursor: pointer;
}
.footer-b1 > p{
    margin-bottom: 11px;
    cursor: pointer;
}
.footer-c1 > h3{
    margin-bottom: 30px;
    font-weight: 500;
    cursor: pointer;
}
.footer-c1 > p{
    margin-bottom: 11px;
    cursor: pointer;
}
.footer-d1 > h3{
    margin-bottom: 30px;
    font-weight: 500;
    cursor: pointer;
}
.footer-d1 > p{
    margin-bottom: 11px;
    cursor: pointer;
}